/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_ticstube";
    src: url("flaticon_ticstube.woff2@9d56189d1482f0327afeaab2003ece16") format("woff2"),
url("flaticon_ticstube.woff@9d56189d1482f0327afeaab2003ece16") format("woff"),
url("flaticon_ticstube.eot@9d56189d1482f0327afeaab2003ece16") format("embedded-opentype"),
url("flaticon_ticstube.ttf@9d56189d1482f0327afeaab2003ece16") format("truetype"),
url("flaticon_ticstube.svg@9d56189d1482f0327afeaab2003ece16") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_ticstube !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-home:before {
    content: "\f101";
}
.flaticon-play-button-arrowhead:before {
    content: "\f102";
}
.flaticon-user:before {
    content: "\f103";
}
.flaticon-video-player:before {
    content: "\f104";
}
.flaticon-volleyball:before {
    content: "\f105";
}
.flaticon-television:before {
    content: "\f106";
}
.flaticon-history:before {
    content: "\f107";
}
.flaticon-music:before {
    content: "\f108";
}
.flaticon-theater:before {
    content: "\f109";
}
.flaticon-nanotechnology:before {
    content: "\f10a";
}
.flaticon-technological:before {
    content: "\f10b";
}
.flaticon-menu:before {
    content: "\f10c";
}
.flaticon-search:before {
    content: "\f10d";
}
.flaticon-loupe:before {
    content: "\f10e";
}
.flaticon-bell:before {
    content: "\f10f";
}
.flaticon-bell-ring:before {
    content: "\f110";
}
.flaticon-right-arrow:before {
    content: "\f111";
}
.flaticon-left-arrow:before {
    content: "\f112";
}
.flaticon-facebook-app-symbol:before {
    content: "\f113";
}
.flaticon-twitter:before {
    content: "\f114";
}
.flaticon-social-media:before {
    content: "\f115";
}
.flaticon-youtube:before {
    content: "\f116";
}
.flaticon-add:before {
    content: "\f117";
}
.flaticon-add-1:before {
    content: "\f118";
}
.flaticon-verify:before {
    content: "\f119";
}
.flaticon-video-camera-with-play-button:before {
    content: "\f11a";
}
.flaticon-padlock:before {
    content: "\f11b";
}
.flaticon-facebook:before {
    content: "\f11c";
}
.flaticon-twitter-1:before {
    content: "\f11d";
}
.flaticon-linkedin:before {
    content: "\f11e";
}
.flaticon-email:before {
    content: "\f11f";
}
.flaticon-email-1:before {
    content: "\f120";
}
.flaticon-mail:before {
    content: "\f121";
}
.flaticon-check:before {
    content: "\f122";
}
.flaticon-copy:before {
    content: "\f123";
}
.flaticon-edit:before {
    content: "\f124";
}
.flaticon-option:before {
    content: "\f125";
}
.flaticon-bin:before {
    content: "\f126";
}
.flaticon-download:before {
    content: "\f127";
}
.flaticon-play-button:before {
    content: "\f128";
}
.flaticon-checked:before {
    content: "\f129";
}
.flaticon-premium-quality:before {
    content: "\f12a";
}
.flaticon-location:before {
    content: "\f12b";
}
.flaticon-location-1:before {
    content: "\f12c";
}
.flaticon-location-2:before {
    content: "\f12d";
}
.flaticon-telephone:before {
    content: "\f12e";
}
.flaticon-up-arrow:before {
    content: "\f12f";
}
.flaticon-arrow-down-sign-to-navigate:before {
    content: "\f130";
}
.flaticon-down-chevron:before {
    content: "\f131";
}
.flaticon-like:before {
    content: "\f132";
}
.flaticon-dislike:before {
    content: "\f133";
}
.flaticon-download-1:before {
    content: "\f134";
}
.flaticon-direct-download:before {
    content: "\f135";
}
.flaticon-report:before {
    content: "\f136";
}
.flaticon-share:before {
    content: "\f137";
}
.flaticon-paper-plane:before {
    content: "\f138";
}
.flaticon-close:before {
    content: "\f139";
}
.flaticon-close-1:before {
    content: "\f13a";
}
.flaticon-code:before {
    content: "\f13b";
}
.flaticon-dots:before {
    content: "\f13c";
}
.flaticon-playlist:before {
    content: "\f13d";
}
.flaticon-traffic-signal:before {
    content: "\f13e";
}
.flaticon-download-to-storage-drive:before {
    content: "\f13f";
}
.flaticon-plus-button:before {
    content: "\f140";
}
.flaticon-plus-icon:before {
    content: "\f141";
}
.flaticon-add-plus-button:before {
    content: "\f142";
}
.flaticon-switch:before {
    content: "\f143";
}
.flaticon-switch-off:before {
    content: "\f144";
}
.flaticon-new-post:before {
    content: "\f145";
}
.flaticon-new-post-1:before {
    content: "\f146";
}
.flaticon-sign-out:before {
    content: "\f147";
}
.flaticon-earning:before {
    content: "\f148";
}
.flaticon-earnings:before {
    content: "\f149";
}
.flaticon-withdrawal:before {
    content: "\f14a";
}
.flaticon-history-clock-button:before {
    content: "\f14b";
}
.flaticon-settings-gear-icon:before {
    content: "\f14c";
}
.flaticon-help:before {
    content: "\f14d";
}
.flaticon-feedback:before {
    content: "\f14e";
}
.flaticon-starred-message:before {
    content: "\f14f";
}
.flaticon-brightness-and-contrast:before {
    content: "\f150";
}
.flaticon-download-2:before {
    content: "\f151";
}
.flaticon-download-3:before {
    content: "\f152";
}
.flaticon-upload:before {
    content: "\f153";
}
.flaticon-upload-1:before {
    content: "\f154";
}
.flaticon-premium-service:before {
    content: "\f155";
}
.flaticon-premium-quality-1:before {
    content: "\f156";
}
.flaticon-premium-quality-2:before {
    content: "\f157";
}
.flaticon-shopping-cart:before {
    content: "\f158";
}
.flaticon-bag:before {
    content: "\f159";
}
.flaticon-video-ad:before {
    content: "\f15a";
}
.flaticon-advertising:before {
    content: "\f15b";
}
.flaticon-play-button-1:before {
    content: "\f15c";
}

